@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* src/components/Footer.css */

.footer-title {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footer-link {
  display: block;
  color: #bbb;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: 0.3s;
}

.footer-link:hover {
  color: #fff;
}


/* css for the church website logo */

.logo-jilem {
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
  animation: fadeIn 1.2s ease-in-out;
}


.mymt{
    margin-top: 100px;
}