@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

/* src/components/NavbarBanner.css */
header h1 {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

header p {
  font-size: 1.1rem;
}

header::before{
  filter:blur(2px);
  background-image: `url('/src/assets/sermon1.jpeg')`;
  background-size: 'cover';
  background-position: 'center';
  position: absolute;
  inset: 0;
  content: "";
  z-index: 1;
}
header{
  position: absolute;
  z-index: 0;
}
.navbar .nav-link {
  color: white !important;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link.active {
  color: yellow !important;
}
@media (max-width: 768px) {
  header {
    height: 45vh !important;
  }
}
.navbar-brand {
  font-size: 1rem;
  line-height: 1.2;
  max-width: 200px;
  white-space: normal;
}
.bg-purple {
  background-color: #6f42c1 !important;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  background-color: orange !important;
}
.collapse.navbar-collapse {
  transition: height 0.3s ease;
}


/* css for the church website logo */

.logo-jilem {
  font-family: 'Alex brush', cursive;
  font-size: 1.5rem;
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}


.mymt{
    margin-top: 390px;
}
.bannerSubtitle {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Allura', cursive;

}

.mobile-sidebar{
  background-color: rgba(255, 255, 255, 0.8);
}